# API & Serving
fastapi
uvicorn
requests
pydantic

# Frontend
streamlit
plotly

# ML & Data
scikit-learn
xgboost
imbalanced-learn
pandas
numpy
matplotlib
seaborn
joblib
shap
pyYAML
types-PyYAML

# Database
sqlalchemy
psycopg2-binary

# Experiment Tracking & Monitoring
mlflow
evidently

# Config & Testing
python-dotenv
pytest
httpx

# hypen e .
-e .